<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap os="linux" dll="clapack.dll" target="/usr/lib64/liblapack.so.3" >
        <dllentry dll="liblapack.so.3" name="_zheev_@40" target="zheev_" />
        <dllentry dll="liblapack.so.3" name="_zgeev_@56" target="zgeev_" />
    </dllmap> 
</configuration>